@model DataAccess.Data.Entities.Programa

<div>
    <h4>Programa Académico</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Programa_Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programa_Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActivo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsActivo)
            {
                @Html.Display("Activado")
            }
            else
            {
                @Html.Display("Desactivado")
            }
        </dd>
    </dl>
</div>