@model DataAccess.Data.Entities.PeriodoAcademico

<div>
    <h4>Periodo Academico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo_FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo_FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo_FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo_FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo_Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo_Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadProgramas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadProgramas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>