@model IEnumerable<DataAccess.Data.Entities.PeriodoAcademico>

<table class="table table-striped table-responsive-md table-bordered smfont" id="PeriodosTable">
    <colgroup>
        <col span="1" />
        <col span="1" />
        <col span="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Periodo_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo_FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo_FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadProgramas)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-success btn-sm">
                    <i class="fa fa-plus-circle"></i> Nuevo Periodo
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Periodo_Id)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="PeriodoAcademicos" asp-route-id="@item.Periodo_Id">
                        @Html.DisplayFor(modelItem => item.Periodo_Nombre)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Periodo_FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Periodo_FechaFin)
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <div>
                            <input class="form-check-input" type="checkbox"
                           id="flexCheckCheckedDisabled" checked disabled>
                            <label class="form-check-label" for="flexCheckCheckedDisabled">
                                Activo
                            </label>
                        </div>
                    }
                    else
                    {
                        <div>
                            <input class="form-check-input" type="checkbox"
                           id="flexCheckCheckedDisabled" disabled>
                            <label class="form-check-label" for="flexCheckCheckedDisabled">
                                Desactivo
                            </label>
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadProgramas)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Periodo_Id" class="btn btn-warning btn-sm">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <button data-id="@item.Periodo_Id" class="btn btn-sm btn-danger deleteItem" data-bs-toggle="modal"
                        data-bs-target="#deleteDialog">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>